<!DOCTYPE html>
<html>
    <head>
        <title>Thi</title>
        <link
            rel="stylesheet"
            href="../../static/assets/css/student/take-exam.css"
            th:href="@{/assets/css/student/take-exam.css}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
    </head>

    <body
        th:onload="'showQuestion(0); countdownMinutes(' + ${thongTinThi.getThoiLuong()}+','+ ${thongTinThi.getRemainingTime()}+ ');moveQuestion(' + ${thongTinThi.getSoCau()}+ ');'"
    >
        <div class="main-container">
            <div class="question-index-bar">
                <div
                    style="width: 100%"
                    th:each="i: ${#numbers.sequence(1, thongTinThi.getSoCau())}"
                >
                    <a
                        class="index-question"
                        th:text="'Câu '+ ${i}"
                        th:onclick="'showQuestion(' + ${i-1} +  ');'"
                    ></a>
                </div>
            </div>
            <div class="exam-view">
                <div
                    class="subject-name"
                    th:text="${thongTinThi.getTenMH()}"
                ></div>
                <form
                    th:action="@{/student/result}"
                    method="post"
                    th:object="${danhsachch}"
                    class="form"
                    id="form"
                >
                    <input type="hidden" th:field="*{idThi}" />
                    <div
                        th:each="cauhoi,itemStat :*{listCauHoi}"
                        class="question-answer"
                    >
                        <div class="question" >
                            <div  th:text="'Câu ' +${itemStat.index +1 } + ': '+ ${cauhoi.getNoiDung()}"></div>
                            <div class="img-audio" >
                                <div th:each = "file: ${cauhoi.files}">
                                    <div th:if = "${file.type.toUpperCase()} =='IMAGE'">
                                        <img style="width: 400px;" th:src="${'/get-file/image/' + file.fileName}" alt="image">
                                    </div>
                                    <div th:if = "${file.type.toUpperCase()} =='AUDIO'">
                                        <audio controls style="width: 400px;">
                                            <source th:src="${'/get-file/audio/' + file.fileName}" type="audio/mpeg">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input
                            type="hidden"
                            th:field="*{listCauHoi[__${itemStat.index}__].idch}"
                        />
                        <div class="box-answer">
                            <div
                                class="answer"
                                th:each="luachon,stat : ${cauhoi.getLuaChons()}"
                            >
                                <input
                                    type="radio"
                                    th:value="${luachon.getThuTu()}"
                                    th:field="*{listCauHoi[__${itemStat.index}__].dapAnSV}"
                                    th:id="${luachon.getIdlc}"
                                />
                                <label
                                    th:for="${luachon.getIdlc}"
                                    th:text="${luachon.getNoiDung()}"
                                ></label>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="navigation">
                    <button id="previous" class="previous btn-trans">
                        &laquo; Previous
                    </button>
                    <button id="next" class="next btn">Next &raquo;</button>
                </div>
            </div>
            <div class="info-view">
                <div class="time-left" id="time">
                    <p>Thời gian: 60:00 phút</p>
                    <p>Còn lại: 59:00 phút</p>
                </div>
                <div class="candidate-info">
                    <div>THÔNG TIN</div>
                    <div th:text="'MASV: '+${sinhvien.getMasv()}">
                        MASV: masv
                    </div>
                    <div th:text="'Họ và tên: '+${sinhvien.getTen()}">
                        Họ và tên: Nguyễn Bình Phương
                    </div>
                    <div th:text="'Lần thi: '+${thongTinThi.getLanThi()}">
                        Lần thi: 1
                    </div>
                    <div th:text="'Ngày thi: '+${thongTinThi.getNgayThi()}">
                        Ngày thi: 1/1/2024
                    </div>
                </div>
                <hr style="width: 80%; color: black" />
                <div class="score">
                    <div>ĐIỂM</div>
                    <div>00</div>
                </div>
                <button class="submit btn" id="submitbtn" onclick="subMit()">
                    SUBMIT
                </button>
            </div>
        </div>
        <script>
            window.addEventListener("beforeun   load", function (event) {
                window.alert("Tải lại trang có thể làm mất dữ liệu");
                event.preventDefault();
            });
        </script>
        <script
            src="./../../static/javascript/student/take-exam.js"
            th:src="@{/javascript/student/take-exam.js}"
        ></script>
    </body>
</html>
